<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

    <f:if condition="{mainnavigation}">
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav ml-auto">
                <f:for each="{mainnavigation}" as="navitem">
                <f:if condition="{navitem.children}">
                    <f:then>
                        <f:render section="NavItemDropdown" arguments="{item:navitem}" />
                    </f:then>
                    <f:else>
                        <f:render section="NavItem" arguments="{item:navitem}" />
                    </f:else>
                </f:if>
                </f:for>
            </ul>
        </div>
    </f:if>

    <f:section name="NavItem">
        <li class="nav-item">
            <a class="nav-link {f:if(condition:item.active,then:'active')}" href="{item.link}">{item.title}</a>
        </li>
    </f:section>

    <f:section name="NavItemDropdown">
        <li class="nav-item dropdown">
            <a class="nav-link {f:if(condition:item.active,then:'active')} dropdown-toggle" href="https://bootstrapthemes.co" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{item.title}</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <f:for each="{item.children}" as="subpage">
                <f:if condition="{subpage.children}">
                    <f:then>
                        <f:render section="NavItemDropdown" arguments="{item:subpage}" />
                    </f:then>
                    <f:else>
                        <f:render section="NavItem" arguments="{item:subpage}" />
                    </f:else>
                </f:if>
                </f:for>
            </ul>
        </li>
    </f:section>

</html>
